<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <title>Delete Staff</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        .container1 {
            border: none;
            border-radius: 8px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark d-flex">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/}">Main Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/copies/listcopy" th:href="@{/copies/listcopy}">Back to Copies List</a>
            </li>
        </ul>
    </div>
</nav><br>
<div class="container">
    <h1 class="text-center">Delete Copies</h1><br>
    <div class="container1">
        <table class="table table-striped">
                <thead>
                <tr>
                    <th>Copy Id</th>
                    <th>ISBN</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Borrower ID</th>
                    <th>Borrower Name</th>
                    <th>Delete</th>
                </tr>
                </thead>

                <tbody>
                <tr th:if="${copies.empty}">
                    <td colspan="2"> No Copies Available</td>
                </tr>
                <tr th:each="copy : ${copies}">
                    <td><span th:text="${copy.copyId}"></span></td>
                    <td><span th:text="${copy.book?.bookId}"></span></td>
                    <td><span th:text="${#dates.format(copy.startDate, 'yyyy-MM-dd')}"></span></td>
                    <td><span th:text="${#dates.format(copy.endDate, 'yyyy-MM-dd')}"></span></td>
                    <td><span th:text="${copy.status}"> </span></td>
                    <td><span th:text="${copy.borrower?.borrowerId}"></span></td>
                    <td><span th:text="${(copy.borrower?.fname ?: '') + ' ' + (copy.borrower?.lname ?: '')}"></span></td>
                    <td><a th:href="@{/copies/deletecopy/{id}(id=${copy.copyId})}" class="btn btn-danger"
                           onclick="return confirm('Are you sure you want to delete this copy?')">
                        <i class="fas fa-user-times ml-2"></i>Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
