<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Group Project</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    h1 {
      margin-top: 20px;
      margin-bottom: 50px;
    }
    .dropdown-menu {
      width: 300px;
      left: auto;
    }

    .dropdown-button {
      width: 300px;
      margin-right: 10px;
      margin-bottom: 200px;
    }

  </style>
</head>
<body>
<div class="container">
  <h1>Group Project</h1>
  <div class="d-flex">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle dropdown-button" type="button" id="staffDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Employee
      </button>
      <div class="dropdown-menu dropdown-menu-center" aria-labelledby="staffDropdown">
        <a class="dropdown-item" href="/employees/listemployee" th:href="@{/employees/listemployee}">Show Employee List</a>
        <a class="dropdown-item" href="/employees/signupemployee" th:href="@{/employees/signupemployee}">Add Employee</a>
        <a class="dropdown-item" href="/employees/updateemployee" th:href="@{/employees/updateemployee}">Update Employee</a>
        <a class="dropdown-item" href="/employees/deleteemployee" th:href="@{/employees/deleteemployee}">Delete Employee</a>
      </div>
    </div>

    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle dropdown-button" type="button" id="bookDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Book
      </button>
      <div class="dropdown-menu" aria-labelledby="bookDropdown">
        <a class="dropdown-item" href="/books/list" th:href="@{/books/list}">List of Books</a>
        <a class="dropdown-item" href="/books/signup" th:href="@{/books/signup}">New Book</a>
        <a class="dropdown-item" href="/books/update" th:href="@{/books/update}">Update Book</a>
        <a class="dropdown-item" href="/books/delete" th:href="@{/books/delete}">Delete Book</a>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle dropdown-button" type="button" id="borrowerDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Borrower
      </button>
      <div class="dropdown-menu" aria-labelledby="borrowerDropdown">
        <a class="dropdown-item" href="/books/listborrower" th:href="@{/books/listborrower}">Show Borrower List</a>
        <a class="dropdown-item" href="/books/signupborrower" th:href="@{/books/signupborrower}">Register Borrower</a>
        <a class="dropdown-item" href="/books/updateborrower" th:href="@{/books/updateborrower}">Update Borrower Information</a>
        <a class="dropdown-item" href="/books/deleteborrower" th:href="@{/books/deleteborrower}">Delete Borrower</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle dropdown-button" type="button" id="copyDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Copy
      </button>
      <div class="dropdown-menu" aria-labelledby="copyDropdown">
        <a class="dropdown-item" href="/books/listcopy" th:href="@{/books/listcopy}">Show copy List</a>
        <a class="dropdown-item" href="/books/signupcopy" th:href="@{/books/signupcopy}">Add copy</a>
        <a class="dropdown-item" href="/books/updatecopy" th:href="@{/books/updatecopy}">Update copy</a>
        <a class="dropdown-item" href="/books/deletecopy" th:href="@{/books/deletecopy}">Delete copy</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle dropdown-button" type="button" id="sectionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Section
      </button>
      <div class="dropdown-menu" aria-labelledby="sectionDropdown">
        <a class="dropdown-item" href="/books/listsection" th:href="@{/books/listsection}">Show Section List</a>
        <a class="dropdown-item" href="/books/signupsection" th:href="@{/books/signupsection}">Add Section List</a>
        <a class="dropdown-item" href="/books/updatesection" th:href="@{/books/updatesection}">Update Section</a>
        <a class="dropdown-item" href="/books/deletesection" th:href="@{/books/deletesection}">Delete Section</a>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
