<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Section List</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <style>
    .container1 {
      border: none;
      border-radius: 8px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark d-flex">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/}">Main Menu</a>
      </li>
    </ul>
  </div>
</nav><br>
<div class="container">
  <h1 class="text-center">Sections</h1><br>
    <div class="container1">
    <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Section Name</th>
        <th>Description</th>
        <th>Location</th>
      </tr>
      </thead>
      <tbody>
      <tr th:if="${sections.empty}">
        <td colspan="4"> No Sections Available</td>
      </tr>
      <tr th:each="section : ${sections}">
        <td><span th:text="${section.sectionId}"></span></td>
        <td><span th:text="${section.sectionName}"></span></td>
        <td><span th:text="${section.description}"></span></td>
        <td><span th:text="${section.location}"></span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>
