<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Borrower List</title>
  <style>
    table {
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid black;
      padding: 5px;
      text-align: left;
    }
  </style>
</head>
<body>
<div>
  <h1>Borrowers</h1>
  <table>
    <tr>
      <th> Borrower Id</th>
      <th> Name</th>
      <th> Email</th>
      <th> Phone Number</th>
      <th> Address</th>
    </tr>
    <tbody>
    <tr>
      <td> 1111</td>
      <td> ali</td>
      <td> aks@gmail.com</td>
      <td> 01123234598</td>
      <td> USA</td>

    </tr>
    </tbody>
  </table>
</div>
</body>
</html>